* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  /* outline: 1px dotted #bad; */
}

body {
  background-color: #E5E5E5;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #14213D;
  grid-area: footer;
}

aside {
  background-color: #E5E5E5;
  grid-area: aside;
}

input[type=text], select {
  width: 82%;
  padding: 10px 16px;
  margin: 10px 10px 10px 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.barra-precio {
  height: 30px;
  line-height: 1.5;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  grid-area: nav;
  background-color: #FCA311;
}

.menu {
  background-color: #FCA311;
  display: flex;
  flex-direction: column;
}

.enlace-menu {
  height: 55px;
  padding-top: 1.5em;
}

.enlace-menu:hover {
  border-bottom: 2px solid #E5E5E5;
  color: #fff;
  transition: 0.3s ease;
}

.menu a {
  font-size: 1.0867rem;
  color: #14213D;
  text-decoration: none;
  vertical-align: bottom;
}

main {
  background-color: #E5E5E5;
  grid-area: main;
  overflow-y: scroll;
}

.grid-container {
  background-color: #FCA311;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 6em 1fr 9em;
  grid-template-areas: "nav" "aside" "main" "footer";
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 8px #bbbbbb;
}

.card input {
  height: 30px;
  width: 140px;
  background-color: #FCA311;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.card input:hover {
  background-color: #c98019;    
}

.card input:active {
  background-color: #2EC4B6;
}

.card p {
  text-align: center;
  padding: 10px 20px 2px 20px;
  font-size: 0.9em;
}

.card img {
  max-width: 14em;
}

.card img:hover {
  filter: brightness(0.9) contrast(150%); 
  transition: 0.3s ease;
}
h4 {
  font-weight: bold;
  padding: 10px 0px;
}

span {
  color: #2EC4B6;
  letter-spacing: 2px;
}

.bread {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
}

.breadcrumb {
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  height: 2.7em;
  width: 14em;
  text-align: center;
  color: #20847a;
}

.breadcrumb p {
  line-height: 2.5;
}

.alter-bread {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.breadcrumb p:hover {
  font-weight: bold ;
  color: #14213D;
  cursor: pointer;
  border: 1px solid #14213D;
  border-radius: 4px;
}

.square:hover {
  background-color: #fff;
}


.foot {
  height: 8.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
}

.icons {
  height: 3em;
  width: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
  text-align: center;
}
















@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 14em 1fr;
    grid-template-rows: 6em 1fr 9em;
    grid-template-areas: "nav nav" "main main" "footer footer";
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-colapsed {
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-colapsed img {
    height: 60px;
  }
  aside {
    display: none;
  }
  main {
    padding-left: 10px;
  }
  .menu {
    display: none;
  }
  .ham:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
  }
}


@media (min-width: 577px) {
  .grid-container {
    grid-template-columns: 18em 1fr;
    grid-template-rows: 6em 1fr 9em;
    grid-template-areas: "nav nav" "aside main" "footer footer";
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 0px 20px;
  }
  .nav-colapsed img {
    height: 60px;
    left: 30px;
  }
  .menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
  }
  .menu a {
    min-width: 100px;
    text-align: center;
  }
  .barra-precio {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid {
    margin-left: 0px;
  }
  .ham {
    display: none;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 14em 1fr;
    grid-template-rows: 6em 1fr 9em;
    grid-template-areas: "nav aside" "nav main" "footer main";
  }
  nav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .nav-colapsed img {
    height: 60px;
  }
  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }
  .grid {
    margin-left: 20px;
  }
  .barra-precio {
    height: auto;
    width: 100%;
    align-items: center;
  }  
  .menu {
    width: 250px;
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .menu a {
    width: 180px;
    text-align: start;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  footer {
    background-color: black;
  }

  aside {
    background-color: blueviolet;
  }

  nav {
    background-color: darkslategray;
  }

  main {
    background-color: red;
  }
}